/* 모달 오버레이 (배경 어둡게) */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* 어두운 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* 그룹 삭제 모달 내용 */
  .delete-modal-content {
    /*width: 480px;*/
    /*height: 335px;*/
    background-color: #FAFAFA;
    border-radius: 6px;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  /* 그룹 삭제 제목 */
  .delete-modal-title {
    width: 100%; /* 너비를 모달의 전체 너비로 설정 */
    height: 30px;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #282828;
    text-align: center;
    margin: 0 auto; /* 텍스트를 중앙에 배치 */
    line-height: 30px; /* 텍스트 높이를 맞춰 줄바꿈 방지 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  }

  .close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: none;
  }

  .container{
    display: flex;
    flex-direction: column;
  }
  
  /* 삭제 권한 인증 텍스트 */
  .delete-modal-label {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #282828;
    margin-bottom: 10px; /* 비밀번호 입력칸과의 간격을 줄여서 바로 위에 위치 */
  }
  
  /* 비밀번호 입력창 */
  .delete-modal-input {
    width: 400px;
    height: 45px;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* 삭제하기 버튼 */
  .delete-submit-button {
    width: 400px;
    height: 50px;
    background-color: #282828;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
  }